.cardOfMovie {
  width: 300px;
  height: 440px;
  border: 0px solid silver;
  border-radius: 10px;
  margin: 10px 20px 10px 20px;

  padding: 20px;
  text-align: center;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px 5px grey;
    transform: translateY(-5px);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  h3 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  img {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px ridge silver;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 30px;
  }
  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  span {
    font-size: 18px;
    font-weight: bold;
  }
}
