//подключаем шрифты
@font-face {
  font-family: "OpenSans";
  src: url(./Assets/Fonts/OpenSans-Light.ttf);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url(./Assets/Fonts/OpenSans-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
